{% extends 'base.html' %}

{% block head %}
    <title>Správa rezervací</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Load JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript">
        function myFunction(ele) {
            var id_my = ele.id;
            var res = id_my.split("_");
            id_my = res[res.length - 1];
            id_my = id_my.toString();

            fetch(`/recepcni/get_pokoj/rezervace/${id_my}`)
                .then(function (response) {
                    return response = response.json()
                }).then(function (text) {
                var cena_za_noc = text.cena;

                var date_od, date_do;
                date_od = document.getElementById("datum_zacatek_" + id_my).value;
                date_do = document.getElementById("datum_konec_" + id_my).value;

                date_od = new Date(date_od);
                date_do = new Date(date_do);

                var difference = date_do.getTime() - date_od.getTime();
                var days = Math.ceil(difference / (1000 * 3600 * 24));

                var pocet_osob = parseInt(document.getElementById("pocet_hostu_" + id_my).value);
                var finalni_cena = parseInt(document.getElementById("finalni_cena_" + id_my).value);

                document.getElementById("finalni_cena_" + id_my).value = (days * cena_za_noc * pocet_osob);
            })
        }
    </script>
    <script type="text/javascript">
        function calculateFinalPrice() {
            id_my = document.getElementById("id_pokoj").value

            fetch(`/recepcni/get_pokoj/pokoj/${id_my}`)
                .then(function (response) {
                    return response = response.json()
                }).then(function (text) {
                var cena_za_noc = text.cena;
                var today = new Date(new Date().toDateString());

                var date_od, date_do;
                date_od = document.getElementById("datum_zacatek").value;
                date_do = document.getElementById("datum_konec").value;

                date_od = new Date(date_od);
                date_do = new Date(date_do);

                if (date_od < today || date_do < today) {
                    document.getElementById("datum_zacatek").value = ""
                    document.getElementById("datum_konec").value = ""
                    return;
                }

                var difference = date_do.getTime() - date_od.getTime();
                var days = Math.ceil(difference / (1000 * 3600 * 24));

                if (days <= 0) {
                    document.getElementById("datum_zacatek").value = ""
                    document.getElementById("datum_konec").value = ""
                    return;
                }

                var pocet_osob = parseInt(document.getElementById("pocet_hostu").value);
                var finalni_cena = parseInt(document.getElementById("finalni_cena").value);

                document.getElementById("finalni_cena").value = (days * cena_za_noc * pocet_osob);
            })
        }
    </script>
    {% block javascript %}
        <script type="text/javascript">
            function hotels_rooms() {
                var pokoje = document.getElementById("id_pokoj");

                var length = pokoje.options.length;
                for (i = length - 1; i >= 0; i--) {
                    pokoje.options[i] = null;
                }

                var hotel = document.getElementById("id_hotel").value;

                fetch(`/recepcni/get_rooms/${hotel}`)
                    .then(function (response) {
                        return response = response.json()
                    }).then(function (text) {
                    for (var i in text) {
                        let newOption = new Option(text[i][1], text[i][0])
                        pokoje.add(newOption, undefined);
                    }
                })
            }
        </script>
    {% endblock %}
{% endblock %}

{% block body %}

    {% include 'navbar.html' %}


    <!-- Script for toggling rows in the table in order to expand themselves -->
    <script type="text/javascript">
        function show_hide_row(row) {
            $("#" + row).fadeToggle(500);
        }
    </script>

    <div class="content">

        <h1>Rezervace</h1>
        <div class="scrollDown"><a href="#createRezervaceBtn">Scroll down</a></div>
        <!-- For scrolling all the way down the table in one-click -->

        {% if reservations == none %}
            <h2>Žádné rezervace nejsou v databázi, nejdříve musíte nějaké vytvořit!</h2>
        {% else %}


            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Uživatel</th>
                    <th>Id Pokoje</th>
                    <th>Id Hotelu</th>
                    <th>Začátek</th>
                    <th>Konec</th>
                    <th>Počet hostů</th>
                    <th>Potvrzeno</th>
                    <th>Zaplaceno</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Cena celkem</th>
                    <th>Operace</th>
                </tr>
                </thead>
                <tbody>
                {% for res in reservations %}
                    <tr onclick="show_hide_row('hidden_row{{ loop.index }}');">
                        <td>{{ res.id }}</td>
                        <td>{{ res.email_uzivatel }}</td>
                        <td>{{ res.id_pokoj }}</td>
                        <td>
                            {% for hotel in hotels if hotel.id == res.id_hotel %}
                                {{ hotel.name }}
                            {% endfor %}</td>
                        <td>{{ res.datum_zacatek }}</td>
                        <td>{{ res.datum_konec }}</td>
                        <td>{{ res.pocet_hostu }}</td>
                        <td>{% if res.potvrzeno is true %}
                            <i style="color: green" data-feather="check-square"></i>
                        {% else %}
                            <i style="color: red" data-feather="square"></i>
                        {% endif %}</td>
                        <td>{% if res.zaplaceno is true %}
                            <i style="color: green" data-feather="check-square"></i>
                        {% else %}
                            <i style="color: red" data-feather="square"></i>
                        {% endif %}</td>
                        <td>{% if res.check_in is true %}
                            <i style="color: green" data-feather="check-square"></i>
                        {% else %}
                            <i style="color: red" data-feather="square"></i>
                        {% endif %}</td>
                        <td>{% if res.check_out is true %}
                            <i style="color: green" data-feather="check-square"></i>
                        {% else %}
                            <i style="color: red" data-feather="square"></i>
                        {% endif %}</td>
                        <td>{{ res.finalni_cena }}</td>
                        <td onclick="event.stopPropagation();">
                            <a class="btn btn-danger" href="/delete/rezervace?id={{ res.id }}">Smazat</a>

                            {% if res.potvrzeno is not true %}
                                <a class="btn btn-primary" href="/update/rezervace/{{ res.id }}/rezervace-potvrzena">Potvrdit
                                    rezervaci</a>
                            {% else %}
                                {% if (res.zaplaceno is true and res.check_in is not true) %}
                                    <a class="btn btn-secondary" href="/update/rezervace/{{ res.id }}/check-in">Check-in</a>
                                {% endif %}
                                {% if (res.check_in is true and res.check_out is not true) %}
                                    <a class="btn btn-secondary"
                                       href="/update/rezervace/{{ res.id }}/check-out">Check-out</a>
                                {% endif %}
                                {% if res.zaplaceno is not true %}
                                    <a class="btn btn-secondary" href="/update/rezervace/{{ res.id }}/platba-provedena">Potvrdit
                                        platbu</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <!-- Hidden row, will become visible once toggled by previous row -->
                    <tr id="hidden_row{{ loop.index }}" class="hidden_row">
                        <!-- Update form -->
                        <form action="/update/rezervace/{{ res.id }}" method="POST">
                            <td>{{ res.id }}</td>
                            <td>{{ res.email_uzivatel }}</td>
                            <td>{{ res.id_pokoj }}</td>
                            <td>
                                {% for hotel in hotels if hotel.id == res.id_hotel %}
                                    {{ hotel.name }}
                                {% endfor %}
                            </td>
                            <td><input onchange="myFunction(this)" type="date" id="datum_zacatek_{{ res.id }}"
                                       name="datum_zacatek"
                                       value="{{ res.datum_zacatek }}"></td>
                            <td><input onchange="myFunction(this)" type="date" id="datum_konec_{{ res.id }}"
                                       name="datum_konec"
                                       value="{{ res.datum_konec }}"></td>
                            <td><input onchange="myFunction(this)" type="number" id="pocet_hostu_{{ res.id }}"
                                       name="pocet_hostu"
                                       value="{{ res.pocet_hostu }}"></td>
                            <td> <!-- This is a filler --> </td>
                            {% if res.zaplaceno == true %}
                                <td><input type="checkbox" name="zaplaceno" id="zaplaceno" value="{{ res.zaplaceno }}"
                                           checked></td>
                            {% else %}
                                <td><input type="checkbox" name="zaplaceno" id="zaplaceno" value="{{ res.zaplaceno }}">
                                </td>
                            {% endif %}
                            {% if res.check_in == true %}
                                <td><input type="checkbox" name="check_in" id="check_in" value="{{ res.check_in }}"
                                           checked></td>
                            {% else %}
                                <td><input type="checkbox" name="check_in" id="check_in" value="{{ res.check_in }}">
                                </td>
                            {% endif %}
                            <td><input type="text" id="finalni_cena_{{ res.id }}" name="finalni_cena"
                                       value="{{ res.finalni_cena }}"></td>
                            <td>
                                <input class="btn btn-success" type="submit" value=" Uložit ">
                            </td>
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <h3>Přidat rezervaci: </h3>
        <form action="/create/create_rezervace" method="POST">
            <label for="id_hotel">Hotel</label>
            <select onchange="hotels_rooms()" name="id_hotel" id="id_hotel">
                {% for hotel in hotels %}
                    <option value={{ hotel.id }}>{{ hotel.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="id_uzivatel">Uživatel</label>
            <select name="id_uzivatel" id="id_uzivatel">
                {% for uzivatel in uzivatele %}
                    <option value={{ uzivatel.id }}> {{ uzivatel.id }} ({{ uzivatel.email }})</option>
                {% endfor %}
            </select>
            <br>
            <label for="pocet_hostu">Počet hostů</label>
            <input onchange="calculateFinalPrice()" type="number" id="pocet_hostu" name="pocet_hostu" min="1" max="12"
                   value="1">
            <br>
            <label for="id_pokoj">Id pokoje</label>
            <select name="id_pokoj" id="id_pokoj">
            </select>
            <br>
            <label for="datum_zacatek">Datum, začátek:</label>
            <input onchange="calculateFinalPrice()" type="date" id="datum_zacatek" name="datum_zacatek" required>
            <br>
            <label for="datum_konec">Datum, konec:</label>
            <input onchange="calculateFinalPrice()" type="date" id="datum_konec" name="datum_konec" required>
            <br>
            <label for="zaplaceno">Zaplaceno</label>
            <input type="checkbox" name="zaplaceno" id="zaplaceno">
            <br>
            <label for="finalni_cena">Finální cena</label>
            <input type="text" name="finalni_cena" id="finalni_cena" readonly>
            <br>
            <input class="btn btn-primary" type="submit" value="Přidat rezervaci">
        </form>

    </div>

    <script>
        hotels_rooms();
    </script>
    <script>
        feather.replace()
    </script>

{% endblock %}